<nav [class.scrolled]="isScrolled" class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">
      <span class="logo-text">AR</span>
    </a>

    <button 
      class="navbar-toggle" 
      (click)="toggleMobileMenu()" 
      [attr.aria-expanded]="isMobileMenuOpen"
      aria-controls="navbar-menu"
    >
      <span class="sr-only">Toggle menu</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>

    <div 
      id="navbar-menu" 
      class="navbar-menu" 
      [class.open]="isMobileMenuOpen">
      <ul class="navbar-links">
        @for (item of navItems; track item.href) {
          <li>
            @if(item.href==="Resume-Adam-Rafraf.pdf"){ <a [href]="item.href" target="_blank" rel="noopener noreferrer" class="navbar-link" (click)="closeMobileMenu()">
              <span class="navbar-link-number">{{ item.number }}</span>
              {{ item.text }}
            </a>}
            @else {
              <a [href]="item.href" class="navbar-link" (click)="closeMobileMenu()">
                <span class="navbar-link-number">{{ item.number }}</span>
                {{ item.text }}
              </a>
            }
           
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

