<header class="header" [class.scrolled]="isScrolled" [class.nav-hidden]="isNavHidden">
    <nav class="nav">
      <div class="logo">
        <a href="/" aria-label="home">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="none" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" class="feather">
            <path d="M 50,5 L 11,27 L 11,72 L 50,95 L 89,72 L 89,27 L 50,5 Z" />
            <text x="50%" y="60%" text-anchor="middle" fill="currentColor" stroke-width="2" font-family="monospace" font-size="40">B</text>
          </svg>
        </a>
      </div>
  
      <div class="nav-links">
        <ol>
          @for (item of navItems; track item) {
            <li>
              <a [href]="item.href">
                <span>{{ item.number }}</span>
                {{ item.text }}
              </a>
            </li>
          }
        </ol>
        <a href="/resume.pdf" class="resume-button" target="_blank" rel="noopener noreferrer">
          Resume
        </a>
      </div>
    </nav>
  </header>