.work-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

.projects-grid {
  list-style: none;
  padding: 0;
  margin: 0;

  .project {
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 100px;

      @media (max-width: 768px) {
        margin-bottom: 70px;
      }

      @media (max-width: 480px) {
        margin-bottom: 30px;
      }
    }

    &.reverse {
      .project-content {
        grid-column: 7 / -1;
        text-align: right;

        @media (max-width: 1080px) { grid-column: 5 / -1; }
        @media (max-width: 768px) {
          grid-column: 1 / -1;
          padding: 40px;
          text-align: left;
        }
        @media (max-width: 480px) { padding: 25px; }
      }

      .project-tech-list, .project-links {
        justify-content: flex-end;

        @media (max-width: 768px) { justify-content: flex-start; }
      }

      .project-tech-list li,
      .project-links li {
        margin: 0 0 5px 20px;

        @media (max-width: 768px) { margin: 0 10px; }
      }

      .project-image {
        grid-column: 1 / 8;

        @media (max-width: 768px) { grid-column: 1 / -1; }
      }
    }

    .project-content {
      grid-column: 1 / 7;
      grid-row: 1 / -1;

      @media (max-width: 1080px) { grid-column: 1 / 9; }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        grid-column: 1 / -1;
        z-index: 5;
      }
      @media (max-width: 480px) { padding: 30px; }
    }

    .project-overline {
      margin: 10px 0;
      color: var(--green);
      font-family: var(--font-mono);
      font-size: var(--fz-xs);
    }

    .project-title {
      color: var(--lightest-slate);
      font-size: clamp(24px, 5vw, 28px);

      @media (max-width: 768px) {
        color: var(--white);

        a {
          position: static;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .project-description {
      padding: 25px;
      border-radius: var(--border-radius);
      background-color: var(--light-navy);

      @media (max-width: 768px) {
        padding: 20px 0;
        background: transparent;
      }

      a {
        color: var(--green);

        &:hover::after {
          width: 100%;
        }
      }
    }

    .project-tech-list {
      display: flex;
      flex-wrap: wrap;
      margin: 25px 0 10px;

      li {
        margin: 0 20px 5px 0;
        color: var(--light-slate);
        font-size: var(--fz-xs);

        @media (max-width: 768px) { color: var(--lightest-slate); }
      }
    }

    .project-links {
      display: flex;
      align-items: center;
      margin-top: 10px;

      a {
        padding: 10px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .project-image {
      grid-column: 6 / -1;
      grid-row: 1 / -1;

      @media (max-width: 768px) {
        grid-column: 1 / -1;
        opacity: 0.25;
      }

      a {
        background-color: var(--green);
        border-radius: var(--border-radius);

        &::before {
          background-color: var(--navy);
          mix-blend-mode: screen;
        }
      }

      .img {
        filter: grayscale(100%) contrast(1);
        @media (max-width: 768px) { filter: brightness(50%); }
      }
    }
  }
}
