@use '@angular/material' as mat;

:root {
  --navy: #020c1b;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 13px;
  --fz-xs: 14px;
  --fz-sm: 16px;
  --fz-md: 18px;
  --fz-lg: 20px;
  --fz-xl: 22px;
  --fz-xxl: 24px;
  --fz-heading: 36px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--navy);
  color: var(--slate);
  font-size: var(--fz-lg);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

