<section class="home-section">
  <p class="greeting">Hi, my name is</p>
  <h1 class="name">Adam Rafraf.</h1>
  <h2 class="tagline">Final-Year Computer Engineering Student.</h2>
  <p class="description">
    I specialize in creating engaging digital experiences, from immersive games to robust web solutions and streamlined CI/CD pipelines. Currently, I’m honing my skills and delivering impactful projects in the tech and gaming spaces.
    <a href="https://esprit.tn" target="_blank" rel="noopener noreferrer">ESPRIT</a>.
  </p>
  <a href="#work" class="cta-button">Explore My Projects</a>
</section>
